.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color:  #000;
  color: white;
  position: sticky;
  top: 0;
  z-index: 100;
  padding: 30px 40px;
}

.logo {
  display: flex;
  justify-content: flex-start;
  font-family:monospace;
  font-size: 32px;
  font-weight: bold;
  text-align: center;
  flex: 1;
}

nav ul svg{
  width: 2rem;
  height: 2rem;
}

.nav-icons {
  display: flex;
  gap: 20px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-icons li {
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.nav-icons li:hover {
  transform: scale(1.1);
}

.logout-btn {
  background-color: transparent;
  border: 1px solid white;
  color: white;
  padding: 8px 12px;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.logout-btn:hover {
  background-color: white;
  color: black;
}

.allProducts{
  font-family:'Segoe UI',sans-serif;
  font-weight: bolder;
  font-size:x-large;
}

.cart-item {
  position: relative;
  cursor: pointer;
}

.cart-badge {
  position: absolute;
  top: -6px;
  right: -10px;
  animation: pop 0.25s ease;

  background: crimson;
  color: white;

  font-size: 11px;
  font-weight: bold;

  min-width: 18px;
  height: 18px;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 50%;
}

@keyframes pop {
  0% { transform: scale(0); }
  100% { transform: scale(1); }
}

.wishlist-item {
  position: relative;
  cursor: pointer;
}

.wishlist-badge {
  position: absolute;
  top: -6px;
  right: -10px;

  background: crimson;
  color: white;

  font-size: 11px;
  font-weight: bold;

  min-width: 18px;
  height: 18px;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 50%;
}

.search-item {
  display: flex;
  align-items: center;
}


.search-box {
  position: relative;
  width: 260px;
}


.search-box input {
  width: 100%;
  padding: 8px 38px 8px 15px;
  border-radius: 30px;
  border: 1px solid #444;
  background-color: #111;
  color: white;
  outline: none;
  transition: all 0.3s ease;
}

.search-box input::placeholder {
  color: #aaa;
}


.search-box input:focus {
  border-color: crimson;
  box-shadow: 0 0 8px rgba(220, 20, 60, 0.6);
}


.search-box svg {
  width: 18px;
  height: 18px;
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

